.block {
  display: grid;
  place-items: center;

  .heading {
    padding-bottom: 20px;
  }

  img {
    max-height: 40vh;
    width: auto;
    object-fit: contain;
  }
}

@media (max-height: 500px) {
  .block img {
    display: none;
  }
}
