<div id="open-payment-history"
     class="btn btn-secondary"
     expand="block"
     (click)="setOpen(true)">{{'payment-processor.review-order-history.title' | translate}}</div>

<ion-modal *ngIf="isModalOpen"
           [isOpen]="isModalOpen"
           trigger="open-payment-history">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>{{'payment-processor.review-order-history.title' | translate}}</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <app-e-grid [tableData]="$purchaseHistory"
                  [emptyStateConfig]="emptyStateConfig"
                  [columnsConfig]="columnsConfig"></app-e-grid>
    </ion-content>
    <ion-footer>
      <ion-row>
        <ion-col class="footer-links">
          <ion-button class="cursor-pointer bold color-white ion-float-start"
                      (click)="setOpen(false)">
            {{'common.back' | translate}}
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-footer>
  </ng-template>
</ion-modal>

<ng-template #customStatusTemplate let-row="row">
  <div *ngIf="row.status === 'ACTIVE'; else inactiveStatus" [ngStyle]="{'color': 'green'}">
    {{'payment-processor.review-order-history.statuses.' + row.status | translate}}
  </div>

  <ng-template #inactiveStatus>
    <div [ngStyle]="{'color': 'gray'}">
      {{'payment-processor.review-order-history.statuses.' + row.status | translate}}
    </div>
  </ng-template>
</ng-template>
