<div id="open-modal"
     class="btn btn-secondary"
     expand="block">{{'payment-processor.review-order-history.title' | translate}}</div>

<ion-modal trigger="open-modal">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>{{'payment-processor.review-order-history.title' | translate}}</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="confirm()" [strong]="true">{{'common.confirm' | translate}}</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <app-e-grid [tableData]="$purchaseHistory"
                  [emptyStateConfig]="emptyStateConfig"
                  [columnsConfig]="columnsConfig"></app-e-grid>
    </ion-content>
  </ng-template>
</ion-modal>
