<ion-header>
  <ion-toolbar>
    <ion-title>{{ 'payment-processor.review-order-history.title' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <app-e-grid
    [tableData]="purchaseHistory$"
    [emptyStateConfig]="emptyStateConfig"
    [columnsConfig]="columnsConfig"
    class="purchase-history-table">
  </app-e-grid>
</ion-content>

<ng-template #customStatusTemplate let-row="row">
  <div class="status">
    <ion-icon *ngIf="row.status === PurchaseHistoryStatus.active" name="checkmark-circle" color="success"></ion-icon>
    <ion-icon *ngIf="row.status !== PurchaseHistoryStatus.active" name="close-circle" color="medium"></ion-icon>
    <span [ngClass]="row.status === PurchaseHistoryStatus.active ? 'status-active' : 'status-inactive'">
      {{ 'payment-processor.review-order-history.statuses.' + row.status | translate }}
    </span>
  </div>
</ng-template>
