<div class="block">
  <div *ngIf="packages.length"
       class="btn btn-main dropdown-btn"
       id="open-action-sheet">
    {{currentSelectedPackage?.name}}
    <ion-icon name="chevron-down-outline"></ion-icon>
  </div>
    <app-purchase-history class="width-75"></app-purchase-history>

    <app-add-more-data [packages]="packages"
                       [subscribers]="subscribers" class="width-75"></app-add-more-data>
</div>
<ion-action-sheet *ngIf="actionSheetButtons.length" trigger="open-action-sheet"
                  class="action-menu"
                  [header]="'payment-processor.select-package' | translate"
                  [buttons]="actionSheetButtons"></ion-action-sheet>

