<div class="block">
  <div *ngIf="activePackages.length"
       class="btn btn-main dropdown-btn"
       id="open-action-sheet"
       [title]="currentSelectedPackage?.name">
    {{displayName}}
    <ion-icon name="chevron-down-outline"></ion-icon>
  </div>
  <app-purchase-history [selectedSubscriber]="selectedSubscriber"
                        class="width-75"></app-purchase-history>
  <app-add-more-data [selectedSubscriber]="selectedSubscriber"
                     class="width-75"></app-add-more-data>
</div>


<!--popup with option to select current product-->
<ion-action-sheet *ngIf="actionSheetButtons.length"
                  trigger="open-action-sheet"
                  class="action-menu"
                  [header]="'payment-processor.select-package' | translate"
                  [buttons]="actionSheetButtons"></ion-action-sheet>
