<ion-content>
  <app-page-wrapper></app-page-wrapper>
  <ion-grid class="ion-no-padding">
    <ion-row class="ion-justify-content-center ion-align-items-center">
      <ion-col size-lg="3" size-md="6" size-sm="6" size-xs="10">
          <div class="container-login100">
            <div class="w-390">
              <form [formGroup]="form" class="login100-form">
                <span class="login100-form-avatar">
                  <img src="../../assets/images/registration.png" alt="registration-logo"/>
                </span>
                <div class="mt-20 mb-10 pr-15" data-validate="Enter username">
                  <ion-item>
                    <ion-input aria-label="Username"
                               [placeholder]="'common.username' | translate"
                               type="text"
                               formControlName="loginName"
                               [required]="true"></ion-input>
                  </ion-item>
                </div>
                <div class="mb-10 pr-15" data-validate="Enter password">
                  <ion-item>
                    <ion-input aria-label="password"
                               [placeholder]="'common.password' | translate"
                               type="password"
                               formControlName="password"
                               [required]="true"></ion-input>
                  </ion-item>
                </div>
                <div class="mb-40 pr-15" data-validate="Confirm password">
                  <ion-item>
                    <ion-input aria-label="confirmPassword"
                               [placeholder]="'registration.confirm-password' | translate"
                               type="password"
                               formControlName="confirmPassword"
                               [required]="true"></ion-input>
                  </ion-item>
                </div>
                <div class="container-login100-form-btn">
                  <button class="login100-form-btn btn btn-main mb-10"
                          [disabled]="form.invalid"
                          (click)="register()">
                    {{'registration.sign-up' | translate}}
                  </button>
                  <button class="login100-form-btn btn-secondary btn" (click)="backToLoginPage()">
                    {{'common.back' | translate}}
                  </button>
                </div>
              </form>
            </div>
          </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
