<ion-chip *ngIf="selectedSubscriber"
          class="active-phone-number phone-btn"
          [outline]="true">
  <div class="selected">{{selectedSubscriber.msisdn || selectedSubscriber?.name}}</div>
</ion-chip>

<div class="container">
  <div class="widget">
    <ng-container>
    <div><i class="tf-ion-android-wifi"></i> {{'widgets.service' | translate}}</div>
    <b *ngIf="selectedUsage; else emptyState">{{selectedUsage?.type.toUpperCase()}}</b>
    </ng-container>
  </div>
  <div class="widget">
    <div><i class="tf-ion-speedometer"></i> {{selectedUsage?.type === UsageInfo.UsageTypeEnum.data ? ('widgets.speed' | translate) : '-'}}</div>
    <b *ngIf="selectedUsage; else emptyState">{{selectedUsage?.type === UsageInfo.UsageTypeEnum.data ? '4G' : '-'}}</b>
  </div>
  <div class="widget">
    <div><i class="tf-ion-connection-bars"></i> {{'widgets.package' | translate}}</div>
    <b *ngIf="selectedPackage; else emptyState">{{selectedPackage?.name}}</b>
  </div>
</div>


<ng-template #emptyState>
  <b>-</b>
</ng-template>
