.container {
  display: flex;
  justify-content: space-between;
  margin: 40px 0 20px 0;
}
.widget {
  display: grid;
  place-items: center;
}
.m-w-50 {
  min-width: 50px;
}
.active-phone-number {
  position: absolute;
  right: 15px;
}
