<div class="col-12 text-center">
  <h3 class="position-center"><b>To bring</b> your ideas to life, kindly provide us with your email address so that we can reach out to you and discuss them further.</h3>
</div>
<div class="col-lg-6 col-md-8 text-center mx-auto">
  <div class="input-group">
    <form action="" method="post" class="w-100" name="mc-embedded-subscribe-form" target="_blank">
      <input type="email" id="email" class="form-control" name="email" placeholder="Your Email Address Here"
             required>
      <button class="btn btn-secondary btn-submit" type="submit" name="subscribe">Apply</button>
    </form>
  </div>
</div>
