
.text-center {
  text-align: center;
}

.heading {
  text-align: center;
  color: $gray-600;
  padding-bottom: 70px;

  h2 {
    color: $gray-800;
    padding-bottom: 15px;
    text-transform: capitalize;
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
  }

  p {
    font-size: 17px;
    line-height: 24px;
    font-weight: 300;
  }
}

.subheading {
  color: $gray-800;
  padding-bottom: 15px;
  text-transform: capitalize;
  font-weight: 500;
  font-size: 32px;
  line-height: 45px;
}

.btn {
  border-radius: 0;
  text-decoration: none !important;
}

.btn-main {
  color: $white;
  border-radius: 30px;
  font-size: 18px;
  padding: 15px 40px;
  display: inline-block;
  background-color: $primary-color;
  box-shadow: 0 15px 40px var(--sc-color-primary-opacity-03);
  background-image: linear-gradient(
      to top,
      rgba(255, 239, 206, 0) 0%,
      rgba(255, 239, 206, 0.25) 100%
  );

  &:hover,
  &:focus {
    background-color: $primary-color;
    color: $white;
  }
}

.btn-secondary {
  color: $white;
  border-radius: 30px;
  font-size: 18px;
  padding: 15px 40px;
  display: inline-block;
  background-color:  $body-secondary-color;
  border: 0;
  opacity: 0.7;

  &:hover,
  &:focus {
    background-color:  $body-secondary-color;
    color: $white;
  }
}
.chart-btn {
  border-radius: 999px;
  box-sizing: border-box;
  color: $gray-600;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 140px;
  word-break: break-word;
  border: 0;
  overflow: hidden;
  max-width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;

  &:hover,
  &:focus {
    opacity: 0.9;
    color: $gray-700;
  }
}

.chart-btn.selected {
  box-shadow: $gray-500 0 5px 10px -5px;
  background-color: $primary-color;
  color: $white;

  &:hover,
  &:focus {
    background-color: $primary-color;
    opacity: 0.9;
    color: $white;
  }
}


.btn-main-sm {
  padding: 12px 35px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
}

.phone-btn {
  .selected {
    font-weight: bold;
    color: $gray-800;
  }
  .selected:before {
    content:"\A";
    width:10px;
    height:10px;
    border-radius:50%;
    background: $teal;
    display:inline-block;
    margin:0 10px;
  }
}

/* navigation */
.navbar {
  &-brand {
    color: $gray-700;
    font-size: 25px;
    margin: 0;
    line-height: 1;
  }
}

.nav-link {
  font-size: 16px;
  font-weight: bold;
  padding: 10px 20px !important;
}

.navbar-light .navbar-nav .nav-link {

  color: $gray-700;
}

.lang-list {
  border: 0;
  margin: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.navigation {
  .dropdown-menu {
    padding: 0;
    border: 0;
    border-radius: 0;
    background-color: $gray-100;

    @include desktop {
      text-align: center;
      float: left !important;
      width: 100%;
      margin: 0;
    }

    li:first-child {
      margin-top: 5px;
    }

    li:last-child {
      margin-bottom: 5px;
    }
  }

  .dropdown-toggle::after {
    display: none;
  }
  .dropdown-toggle > i {
    font-size: 14px;
  }

  .dropleft .dropdown-menu,
  .dropright .dropdown-menu {
    margin: 0;
  }

  .dropleft .dropdown-toggle::before,
  .dropright .dropdown-toggle::after {
    font-weight: bold;
    font-family: "themefisher-font";
    border: 0;
    font-size: 10px;
    vertical-align: 1px;
    display: inline-block;
  }

  .dropleft .dropdown-toggle::before {
    margin-right: 5px;
    content: "\f124";
  }

  .dropright .dropdown-toggle::after {
    margin-left: 5px;
    content: "\f125";
  }

  .dropdown-item {
    color: $gray-700;
    padding: 0.6rem 1rem 0.35rem;
    font-weight: 600;
    font-size: 15px;
  }

  .dropdown-submenu.active > .dropdown-toggle,
  .dropdown-submenu:hover > .dropdown-item,
  .dropdown-item.active,
  .dropdown-item:hover {
    background: $primary-color;
    color: $white;
  }

  @media (min-width: 992px) {
    .dropdown-menu {
      transition: all 0.2s ease-in, visibility 0s linear 0.2s,
      transform 0.2s linear;
      display: block;
      visibility: hidden;
      opacity: 0;
      min-width: 200px;
      margin-top: 8px;

      li:first-child {
        margin-top: 10px;
      }

      li:last-child {
        margin-bottom: 10px;
      }
    }

    .dropleft .dropdown-menu,
    .dropright .dropdown-menu {
      margin-top: -9px;
    }

    .dropdown:hover > .dropdown-menu {
      visibility: visible;
      transition: all 0.45s ease 0s;
      opacity: 1;
    }
  }
}

.navbar-collapse.show {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: calc(100vh - 80px);
}
.navbar-toggler:focus {
  outline: 0;
}

/* cart */
.cart {
  background: transparent;
  border: 0;
  position: relative;
  i {
    font-size: 20px;
  }

  @include desktop {
    position: absolute;
    top: 23px;
    right: 90px;
  }

  .badge {
    position: absolute;
    top: -5px;
    border-radius: 50%;
    right: -10px;
  }
  &:focus {
    outline: 0;
  }
}

.badge-primary {
  background-color: $primary-color;
}
