
p.price {
  font-size: 30px;
  font-family: $secondary-font;
}

s.price {
  color: red;
  font-size: 25px;
  font-family: $secondary-font;
}

.product-info {
  text-align: center;

  .price {
    font-size: 100%;
  }
}

.product-image-slider {
  position: sticky;
  top: 80px;
  .slick-list {
    margin-bottom: 10px;
    border-radius: 5px;
  }

  .slick-dots {
    margin-top: 10px;
    padding-left: 0;
    display: flex;

    li {
      list-style-type: none;
      margin: 10px;
      border-radius: 5px;
      padding: 10px;
      cursor: pointer;

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }

      img {
        max-height: 80px;
        height: auto;
        max-width: 100%;
      }
    }
  }
}
