<ng-container *ngIf="!isEmpty(this.selectedPackage) && selectedPackage?.usages.length; else empty">
  <div class="container">
    <div class="row" *ngIf="selectedChart">
      <app-chart [chartData]="selectedChart"
                 [expiredAt]="selectedPackage?.expiredAt"></app-chart>
    </div>
    <div *ngIf="selectedPackage?.usages.length > 1"
         class="row mt-20">
      <div class="cursor-pointer p-1"
           [ngClass]="getColumnClass(selectedPackage?.usages.length)"
           *ngFor="let currentUsage of selectedPackage.usages"
           (click)="selectChart(currentUsage)">
        <div class="chart-btn margin-auto"
             [ngClass]="selectedChart.type === currentUsage.type ? 'selected' : null">
          <ion-segment>
            {{ currentUsage.type.toUpperCase() }}
          </ion-segment>
        </div>
      </div>
    </div>
  </div>
</ng-container>

<ng-template #empty>
  <app-empty-state [title]="'data-chart.no-internet-connection-title' | translate"
                   [imgUrl]="'assets/images/no_internet_connection-girl-removebg-preview.png'"></app-empty-state>
</ng-template>
