<ng-container *ngIf="usage.data.length; else empty">
  <ng-container *ngFor="let chartData of usage.data">
    <app-chart [chartData]="chartData"
               (onChartSelected)="onChartSelected.emit($event)"></app-chart>
  </ng-container>
</ng-container>

<ng-template #empty>
  <div class="block">
    <div class="heading">
      <h3>{{'data-chart.no-internet-connection-title' | translate}}</h3>
    </div>
    <img src="assets/images/no_internet_connection-girl-removebg-preview.png">
  </div>
</ng-template>
