<ion-content>
  <app-page-wrapper></app-page-wrapper>
  <ion-grid class="ion-no-padding">
    <ion-row class="ion-justify-content-center ion-align-items-center">
      <ion-col size-lg="3" size-md="6" size-sm="6" size-xs="10">
          <div class="container-login100">
            <div class="wrap-login100">
              <span class="login100-form-avatar">
                <img src="../../assets/images/forgot-password.jpeg" alt="forgot-password-logo"/>
              </span>

              <ng-container [ngTemplateOutlet]="forgotPasswordPageState"></ng-container>
              <ng-template #defaultPageState>
                <div class="mt-20 mb-40 pr-15" data-validate="Enter new password">
                  <ion-item>
                    <ion-input aria-label="newPassword"
                               placeholder="New password"
                               type="password"
                               [formControl]="newPassword"
                               [required]="true"></ion-input>
                  </ion-item>
                </div>
                <div class="container-login100-form-btn">
                  <button class="login100-form-btn btn btn-main mb-10"
                          [disabled]="!newPassword.value"
                          (click)="validateUser()">
                    send
                  </button>
                  <button class="login100-form-btn btn-secondary btn" (click)="backToLoginPage()">
                    back
                  </button>
                </div>
              </ng-template>
              <ng-template #confirmAndUpdateState>
                <div class="mt-20 mb-40 pr-15" data-validate="Enter code">
                  <ion-item class="mb-10">
                    <ion-input aria-label="enterCode"
                               placeholder="Enter SMS code"
                               [formControl]="applyCode"
                               [required]="true"></ion-input>
                  </ion-item>
                  <span class="ml-15">Your should receive sms with code</span>
                </div>
                <div class="container-login100-form-btn">
                  <button  class="login100-form-btn btn btn-main mb-10"
                           [disabled]="!applyCode.value"
                           (click)="updatePassword()">
                    confirm
                  </button>
                  <button class="login100-form-btn btn-secondary btn" (click)="backToForgotPasswordPage()">
                    back
                  </button>
                </div>
              </ng-template>
            </div>
          </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
